.main-flower {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 5px;
    flex-basis: calc((100% - 10px) / 3);
    

    @include tablet {
      gap:  15px;
      margin: 0 auto;
     
    }

    &__picture {

      
      @include tablet {
      width: 390px;
      height: 636px;
      }
    }
    
    &__icon {

      width: 64px;
      height: 76px;
  
    @include tablet {
        width: 145px;
        height: 150px;
      }
      @include desktop {
       width: 166px;
       height: 166px;
      }
    }
  }