.main-flower {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 15px;
    flex-basis: calc((100% - 30px) / 3);
    margin: 0 auto;

    &__picture {
      height: 274px;

      @include tablet {
      width: 390px;
      height: 636px;
      }
    }
    
    &__icon {
      
    @include tablet {
        width: 145px;
        height: 150px;
      }
    @include desktop {
        width: 166px;
        height: 166px;
      }
      }
    }
