.nav {
    display: none;


    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 24px;

    &__item {
      text-decoration: none;
      color: $brandColor;
    }    
}
}
.container--header {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}
.toggle-btn {
    background-color: transparent;
    border:none;
    align-content: end;
   
    @include tablet {
      display:none
    }
    &__icon {
      fill: $brandColor;
      
      &:hover,
      &:focus {
        color: $themeColor;
        fill: $themeColor;
      }
    }
  }
  .menu--phone {
    display: none;

    @include tablet {
      display: flex;
    }
  }