.menu-container.is-open {
    transform: translateX(0);
}
.menu-container {
    background-color:pink;
    font-family: $fontPrimary;
    position: fixed;
    inset: 0;
    padding: 48px 0 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease;
    &__close-btn {
        position: absolute;
        background-color: pink;
        border: none;
        top: 21px;
        right: 21px;
    }
    &__icon-btn {
        fill: $lightColor;
    }
    }

    .mobile-menu {
        position: absolute;
        color: $lightColor;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin: 124px 110px;
        text-align: center;
        justify-items: center;
    }
