$brandColor: #212121;
$themeColor: #2196f3;
$pharagraphColor: #757575;
$lightColor: #fff;
$iconColor: #afb1b8;
$backgroundColor: #f5f4fa;
$footerColor: #000000;
$fontPrimary: 'Roboto', sans-serif;
$fontSecond: 'Raleway', sans-serif;